.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 106%;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
  }
}

@media screen and (max-width: 660px) {
  .place__title {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 109%;
    width: calc(100% - 32px);
  }
}


