.lead__caption {
  font-size: 10px;
  font-weight: normal;
  line-height: 140%;
  color: #fff;
  margin: 8px auto 0;
}

@media screen and (min-width: 930px) {
  .lead__caption {
    width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__caption {
    width: 984px;
  }
}

@media screen and (max-width: 930px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
    margin-left: 16px;
  }
}
